/*!
*   OnlyStyle Framework General
*   Site: onlystyle.site
*/
*, ::after, ::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div {
    display:block;
}

body {
    margin: 0%;
    padding: 0%;
    font-size: $font-size;
    font-family: $font-general;
    background-color: $background-color; 
    color: $text-color; 
    line-height: 1.5;    
} 

.container {
    background-color: $white;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-left: $padding-general;
    padding-right: $padding-general;
}

.container-full {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width:none;
}

footer, .footer {
    display: block;
    padding: $padding-general;
    background-color: $white;
    border-top: $border-general;
    padding-bottom: 80px;
}

.shadow {
    box-shadow: $shadow-btn-hover
}

.shadow-hide {
    box-shadow: none;
}

.list-unstyled {
    padding-left: 0px;
    list-style: none;
}

[hidden]{
    display:none;
}

.w-100{
    width:100%;
}

.overflow-auto{
    overflow:auto;
}
.align-right{
    float:right;
}

.inline-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
}

.inline-right {
    margin-left: auto;
}