<footer>
    <div class="grid g-sm-1 g-md-3">
        <div>
            <h4>About</h4>
        </div>
        <div>
            <h4>Contacts</h4>
        </div>
        <div>
            <h4>Social</h4>
        </div>
    </div>
</footer>
