
    <div class="grid g-1 pd-15 pos-relative">
        <h1>@ViewBag.H1</h1>
        <p>@ViewBag.Description</p>
        <span class="badge bg-warning pos-absolute pos-right-0 mg-t-15">PRE-ALPHA</span>
    </div>
