<div class="header-1">
    <div class="container" style="padding: 50px 30px; border:none; background:none">
        <h1 class="text-muted">@ViewBag.H1</h1>
        <p class="text-muted">@ViewBag.Description</p>

    </div>
</div>
