<div class="bg-primary-glass">
    <div class="container" style="padding: 50px 30px; border:none; background:none">
        <h1 class="text-white">@ViewBag.H1</h1>
        <p class="text-white">@ViewBag.Description</p>
    </div>
</div>
