<div class="ribbon hide-scrollbar sticky">
    <a href="#" class="active">Home</a>
    <a href="#">Blog</a>
    <a href="#">Link</a>
    <a href="#tables">Tables</a>
    <a href="#">Profile</a>
    <a href="#">Settings</a>
    <a href="#">About</a>
</div>