<div class="ribbon hide-scrollbar pos-fixed pos-bottom-0 pos-left-0 pos-right-0">
    <a href="#" class="active"><i class="fas fa-home"></i>Home</a>
    <a href="#"><i class="fas fa-chart-bar"></i>Chart</a>
    <a href="#"><i class="fas fa-code"></i>Code</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
    <a href="#">Link 7</a>
</div>
