<div class="grid g-1">
    <div class="overflow-auto">
        <h3 id="gencolor">General colors</h3>
        <code>.bg-success</code>
        <div class="grid g-md-6 g-sm-3 g-xsm-2 mg-t-15">
            @{
                foreach (string item in MyApp.ColorVariants)
                {
                    <div class="item-color bg-@item">
                        <p class="text-bold text-shadow">@item</p>
                    </div>
                }
            }

        </div>
    </div>
    <div class="overflow-auto">
        <h3 id="colordark">Dark colors</h3>
        <code>.bg-success-dark</code>
        <div class="grid g-md-6 g-sm-3 g-xsm-2 mg-t-15">
            @{
                foreach (string item in MyApp.ColorVariants)
                {
                    <div class="item-color bg-@item-dark">
                        <p class="text-bold text-shadow">@item</p>
                    </div>
                }
            }

        </div>
    </div>

    <div class="overflow-auto">
        <h3 id="colorlight">Light colors</h3>
        <code>.bg-success-light</code>
        <div class="grid g-md-6 g-sm-3 g-xsm-2 mg-t-15">
            @{
                foreach (string item in MyApp.ColorVariants)
                {
                    <div class="item-color bg-@item-light">
                        <p class="text-bold text-shadow">@item</p>
                    </div>
                }
            }

        </div>
    </div>

    <div class="overflow-auto">
        <h3 id="glasscolors">Glass colors</h3>
        <code>.bg-success-glass</code>
        <div class="grid g-md-6 g-sm-3 g-xsm-2 mg-t-15">
            @{
                foreach (string item in MyApp.ColorVariants)
                {
                    <div class="item-color bg-@item-glass">
                        <p class="text-bold text-shadow">@item</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

