


    <div class="grid g-1">
        <h3>Simple grid 4 columns. No responsive</h3>
        <code>.grid .g-4</code>
        <div class="grid g-4">
            <div class="item-empty">Item 1</div>
            <div class="item-empty">Item 2</div>
            <div class="item-empty">Item 3</div>
            <div class="item-empty">Item 4</div>
        </div>
        <h3>Responsive grid 6 columns</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2">
            <div class="item-empty">Item 1</div>
            <div class="item-empty">Item 2</div>
            <div class="item-empty">Item 3</div>
            <div class="item-empty">Item 4</div>
            <div class="item-empty">Item 5</div>
            <div class="item-empty">Item 6</div>
        </div>
        <h3>Responsive grid 6 columns + small gap + col-span</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Item 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2">Item 2 (span)</div>
            <div class="item-empty">Item 3</div>
            <div class="item-empty">Item 4</div>
            <div class="item-empty">Item 5</div>
            <div class="item-empty">Item 6</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (span)&lt/div>
    &ltdiv>Item 3&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
</pre>
        <h3>Responsive grid 6 columns + small gap + col-span + row-span</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Item 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2">Item 2 (col span)</div>
            <div class="item-empty row-lg-span-2 row-md-span-2">Item 3 (row span)</div>
            <div class="item-empty">Item 4</div>
            <div class="item-empty">Item 5</div>
            <div class="item-empty">Item 6</div>
            <div class="item-empty">Item 7</div>
            <div class="item-empty">Item 8</div>
            <div class="item-empty">Item 9</div>
            <div class="item-empty">Item 10</div>
            <div class="item-empty">Item 11</div>
            <div class="item-empty">Item 12</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (Item span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2"Col 3 (Item span)&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
</pre>
        <h3>Responsive grid 6 columns + hidden class</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Item 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2 hidden-sm">Item 2 (col span) hidden-sm</div>
            <div class="item-empty row-lg-span-2 row-md-span-2 hidden-md">Item 3 (row span) hidden-md</div>
            <div class="item-empty">Item 4</div>
            <div class="item-empty">Item 5</div>
            <div class="item-empty">Item 6</div>
            <div class="item-empty">Item 7</div>
            <div class="item-empty">Item 8</div>
            <div class="item-empty">Item 9</div>
            <div class="item-empty">Item 10</div>
            <div class="item-empty">Item 11</div>
            <div class="item-empty">Item 12</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2 hidden-sm">Item 2 (col span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2 hidden-md">Item 3 (row span)&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
</pre>
    </div>
    <div class="grid g-1">
        <h3>Inline grid</h3>
        <code>.grid-inline</code>
    </div>
    <div class="grid-inline">
        @{
            for (int i = 1; i < 7; i++)
            {
                <div class="card bg-info-light pos-relative" style="min-width:250px">
                    <div class="card-body text-white">
                        <h3>Hello, OnlyStyle!</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <span class="badge bg-primary mg-10 rounded pos-absolute pos-right-0 pos-top-0">item @i</span>
                    </div>
                </div>
            }
        }

    </div>