@{
    ViewBag.Title = "OnlyStyle Typography. Grid";
    ViewBag.Description = "Responsive grid for any device and task. Flexible and fine-tuning according to your needs";
    ViewBag.Canonical = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}".ToLower();
    ViewBag.H1 = "OnlyStyle Typography. Grid";
    //ViewBag.Keywords = "";
    ViewBag.UrlImage = null;
    ViewBag.HideTopRibbon = true;
    ViewBag.HideBottomRibbon = true;
}


<div class="container">
    <div class="grid g-1">
        <h3>Simple grid 4 columns. No responsive</h3>
        <code>.grid .g-4</code>
        <div class="grid g-4">
            <div class="item-empty">Col 1</div>
            <div class="item-empty">Col 2</div>
            <div class="item-empty">Col 3</div>
            <div class="item-empty">Col 4</div>
        </div>
        <h3>Responsive grid 6 columns</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2">
            <div class="item-empty">Col 1</div>
            <div class="item-empty">Col 2</div>
            <div class="item-empty">Col 3</div>
            <div class="item-empty">Col 4</div>
            <div class="item-empty">Col 5</div>
            <div class="item-empty">Col 6</div>
        </div>
        <h3>Responsive grid 6 columns + small gap + col-span</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Col 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2">Col 2 (span)</div>
            <div class="item-empty">Col 3</div>
            <div class="item-empty">Col 4</div>
            <div class="item-empty">Col 5</div>
            <div class="item-empty">Col 6</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Col 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (span)&lt/div>
    &ltdiv>Col 3&lt/div>
    &ltdiv>Col 4&lt/div>
    &ltdiv>Col 5&lt/div>
    &ltdiv>Col 6&lt/div>
&lt/div>
</pre>
        <h3>Responsive grid 6 columns + small gap + col-span + row-span</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Col 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2">Col 2 (col span)</div>
            <div class="item-empty row-lg-span-2 row-md-span-2">Col 3 (row span)</div>
            <div class="item-empty">Col 4</div>
            <div class="item-empty">Col 5</div>
            <div class="item-empty">Col 6</div>
            <div class="item-empty">Col 7</div>
            <div class="item-empty">Col 8</div>
            <div class="item-empty">Col 9</div>
            <div class="item-empty">Col 10</div>
            <div class="item-empty">Col 11</div>
            <div class="item-empty">Col 12</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Col 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (col span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2"Col 3 (row span)&lt/div>
    &ltdiv>Col 4&lt/div>
    &ltdiv>Col 5&lt/div>
    &ltdiv>Col 6&lt/div>
&lt/div>
</pre>
        <h3>Responsive grid 6 columns + hidden class</h3>
        <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
        <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
            <div class="item-empty">Col 1</div>
            <div class="item-empty col-lg-span-3 col-md-span-2 hidden-sm">Col 2 (col span) hidden-sm</div>
            <div class="item-empty row-lg-span-2 row-md-span-2 hidden-md">Col 3 (row span) hidden-md</div>
            <div class="item-empty">Col 4</div>
            <div class="item-empty">Col 5</div>
            <div class="item-empty">Col 6</div>
            <div class="item-empty">Col 7</div>
            <div class="item-empty">Col 8</div>
            <div class="item-empty">Col 9</div>
            <div class="item-empty">Col 10</div>
            <div class="item-empty">Col 11</div>
            <div class="item-empty">Col 12</div>
        </div>
        <pre class="pd-15 bordered">
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Col 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2 hidden-sm">Col 2 (col span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2 hidden-md">Col 3 (row span)&lt/div>
    &ltdiv>Col 4&lt/div>
    &ltdiv>Col 5&lt/div>
    &ltdiv>Col 6&lt/div>
&lt/div>
</pre>
    </div>
</div>
