


<div class="grid g-1">
    <h3 id="simplegrid">Simple grid 4 columns. No responsive</h3>
    <code>.grid .g-4</code>
    <div class="grid g-4">
        <div class="item-empty">Item 1</div>
        <div class="item-empty">Item 2</div>
        <div class="item-empty">Item 3</div>
        <div class="item-empty">Item 4</div>
    </div>
    <h3 id="responsivegrid">Responsive grid 6 columns</h3>
    <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2</code>
    <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2">
        <div class="item-empty">Item 1</div>
        <div class="item-empty">Item 2</div>
        <div class="item-empty">Item 3</div>
        <div class="item-empty">Item 4</div>
        <div class="item-empty">Item 5</div>
        <div class="item-empty">Item 6</div>
    </div>
    <h3 id="responsivegrid">Start column</h3>
    <p>Position column in grid</p>
    <pre><code>
&ltdiv class="grid g-lg-5 g-md-5 g-sm-3 g-xsm-2">
    &ltdiv class="item-empty col-start-lg-3 col-start-md-3 col-start-sm-2">Item 1&lt/div>
&lt/div>
&ltdiv class="grid g-lg-5 g-md-5 g-sm-3 g-xsm-2">
    &ltdiv class="item-empty col-start-lg-5 col-start-md-5 col-start-sm-3">Item 1&lt/div>
&lt/div>
</code></pre>
    <div class="grid g-lg-5 g-md-5 g-sm-3 g-xsm-2">
        <div class="item-empty col-start-lg-3 col-start-md-3 col-start-sm-2">Item 1</div>
    </div>
    <div class="grid g-lg-5 g-md-5 g-sm-3 g-xsm-2">
        <div class="item-empty col-start-lg-5 col-start-md-5 col-start-sm-3">Item 1</div>
    </div>
    <h3 id="responsivegridsmalgap">Responsive grid 6 columns + small gap + col-span</h3>
    <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
    <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
        <div class="item-empty">Item 1</div>
        <div class="item-empty col-lg-span-3 col-md-span-2">Item 2 (span)</div>
        <div class="item-empty">Item 3</div>
        <div class="item-empty">Item 4</div>
        <div class="item-empty">Item 5</div>
        <div class="item-empty">Item 6</div>
    </div>
    <pre><code>
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (span)&lt/div>
    &ltdiv>Item 3&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
                 </code></pre>
    <h3 id="responsivegridcolrowspan">Responsive grid 6 columns + small gap + col-span + row-span</h3>
    <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
    <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
        <div class="item-empty">Item 1</div>
        <div class="item-empty col-lg-span-3 col-md-span-2">Item 2 (col span)</div>
        <div class="item-empty row-lg-span-2 row-md-span-2">Item 3 (row span)</div>
        <div class="item-empty">Item 4</div>
        <div class="item-empty">Item 5</div>
        <div class="item-empty">Item 6</div>
        <div class="item-empty">Item 7</div>
        <div class="item-empty">Item 8</div>
        <div class="item-empty">Item 9</div>
        <div class="item-empty">Item 10</div>
        <div class="item-empty">Item 11</div>
        <div class="item-empty">Item 12</div>
    </div>
    <pre><code>
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2">Col 2 (Item span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2"Col 3 (Item span)&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
            </code></pre>
    <h3 id="responsivegridandhidden">Responsive grid 6 columns + hidden class</h3>
    <code>.grid .g-lg-6 .g-md-4 .g-sm-3 .g-xsm-2 .grid-small-gap</code>
    <div class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
        <div class="item-empty">Item 1</div>
        <div class="item-empty col-lg-span-3 col-md-span-2 hidden-sm">Item 2 (col span) hidden-sm</div>
        <div class="item-empty row-lg-span-2 row-md-span-2 hidden-md">Item 3 (row span) hidden-md</div>
        <div class="item-empty">Item 4</div>
        <div class="item-empty">Item 5</div>
        <div class="item-empty">Item 6</div>
        <div class="item-empty">Item 7</div>
        <div class="item-empty">Item 8</div>
        <div class="item-empty">Item 9</div>
        <div class="item-empty">Item 10</div>
        <div class="item-empty">Item 11</div>
        <div class="item-empty">Item 12</div>
    </div>
    <pre><code>
&ltdiv class="grid g-lg-6 g-md-4 g-sm-3 g-xsm-2 grid-small-gap">
    &ltdiv>Item 1&lt/div>
    &ltdiv class="col-lg-span-3 col-md-span-2 hidden-sm">Item 2 (col span)&lt/div>
    &ltdiv class="row-lg-span-2 row-md-span-2 hidden-md">Item 3 (row span)&lt/div>
    &ltdiv>Item 4&lt/div>
    &ltdiv>Item 5&lt/div>
    &ltdiv>Item 6&lt/div>
&lt/div>
                 </code></pre>
</div>
