<div class="grid g-1">
    <div>
        <h3 id="bcexample">Dreadcrumb example</h3>
        <div class="card">
            <div class="card-body">
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="#">breadcrumb item 1</a></li>
                        <li><a href="#">breadcrumb item 2</a></li>
                        <li><a href="#">breadcrumb item 3</a></li>
                        <li class="text-muted">breadcrumb item 4</li>
                    </ul>
                </nav>
            </div>
        </div>
        <pre class="mg-t-15"><code>
    &ltnav>
        &ltul class="breadcrumb">
            &ltli>&lta href="#">breadcrumb item 1&lt/a>&lt/li>
            &ltli>&lta href="#">breadcrumb item 2&lt/a>&lt/li>
            &ltli>&lta href="#">breadcrumb item 3&lt/a>&lt/li>
            &ltli class="text-muted">breadcrumb item 4&lt/li>
        &lt/ul>
    &lt/nav>
</code>
</pre>
    </div>
</div>
