@{
    ViewBag.Title = "OnlyStyle Components. Cards";
    ViewBag.Description = "Buttons style";
    ViewBag.Canonical = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}".ToLower();
    ViewBag.H1 = "OnlyStyle Components. Buttons";
    //ViewBag.Keywords = "";
    ViewBag.UrlImage = null;
    ViewBag.HideTopRibbon = true;
    ViewBag.HideBottomRibbon = true;
}

<div class="container">

    @* Buttons *@
    <div class="grid g-sm-1">
        <h2>Buttons</h2>
    </div>
    <div class="grid g-sm-1">
        <div>
            <h3>Button style</h3>
            <p>
<pre class="bordered pd-15">
&ltbutton type="button" class="btn">Default&lt/button>
&ltbutton type="button" class="btn btn-primary">Primary&lt/button>
&ltbutton type="button" class="btn btn-secondary">Secondary&lt/button>
&ltbutton type="button" class="btn btn-success">Success&lt/button>
&ltbutton type="button" class="btn btn-info">Info&lt/button>
&ltbutton type="button" class="btn btn-warning">Warning&lt/button>
&ltbutton type="button" class="btn btn-danger">Danger&lt/button>
&ltbutton type="button" class="btn btn-link">Link&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-link">Link</button>
            </p>
            <h3>Buttons disabled</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn btn-primary disabled">Primary&lt/button>
&ltbutton type="button" class="btn btn-secondary disabled">Secondary&lt/button>
&ltbutton type="button" class="btn btn-success disabled">Success&lt/button>
&ltbutton type="button" class="btn btn-info disabled">Info&lt/button>
&ltbutton type="button" class="btn btn-warning disabled">Warning&lt/button>
&ltbutton type="button" class="btn btn-danger disabled">Danger&lt/button>
&ltbutton type="button" class="btn btn-link disabled">Link&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn btn-primary disabled">Primary</button>
                <button type="button" class="btn btn-secondary disabled">Secondary</button>
                <button type="button" class="btn btn-success disabled">Success</button>
                <button type="button" class="btn btn-info disabled">Info</button>
                <button type="button" class="btn btn-warning disabled">Warning</button>
                <button type="button" class="btn btn-danger disabled">Danger</button>
                <button type="button" class="btn btn-link disabled">Link</button>
            </p>
            <h3>Buttons outline</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn btn-outline-primary">Primary&lt/button>
&ltbutton type="button" class="btn btn-outline-secondary">Secondary&lt/button>
&ltbutton type="button" class="btn btn-outline-success">Success&lt/button>
&ltbutton type="button" class="btn btn-outline-info">Info&lt/button>
&ltbutton type="button" class="btn btn-outline-warning">Warning&lt/button>
&ltbutton type="button" class="btn btn-outline-danger">Danger&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
            </p>

            <h3>Buttons size</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn btn-primary btn-lg">Large button&lt/button>
&ltbutton type="button" class="btn btn-primary">Default button&lt/button>
&ltbutton type="button" class="btn btn-primary btn-sm">Small button&lt/button>
</pre>
            </p>
            <div>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
            </div>
        </div>
    </div>
</div>