<div class="grid g-1">
    <h4 id="sbtngroup">Simple button group</h4>
    <div class="input-group">
        <a class="btn" href="#">Button 1</a>
        <a class="btn" href="#">Button 2</a>
        <a class="btn" href="#">Button 3</a>
    </div>
    <pre><code>
&ltdiv class="input-group">
    &lta class="btn" href="#">Button 1&lt/a>
    &lta class="btn" href="#">Button 2&lt/a>
    &lta class="btn" href="#">Button 3&lt/a>
&lt/div>
</code></pre>
    <h4 id="ddbtngroup">Button and dropdown group</h4>
    <div class="input-group">
        <a class="btn" href="#">Button 1</a>
        <div class="dropdown">
            <button type="button" class="btn btn-dropdown">Dropdown</button>
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
        <a class="btn" href="#">Button 2</a>
        <a class="btn" href="#">Button 3</a>
    </div>
    <pre><code>
&ltdiv class="input-group">
    &lta class="btn" href="#">Button 1&lt/a>
    &ltdiv class="dropdown">
        &ltbutton type="button" class="btn btn-dropdown">Dropdown&lt/button>
        &ltdiv class="dropdown-menu">
            &ltul class="list-unstyled">
                &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                &ltli>&lta href="#">Link 3&lt/a>&lt/li>
            &lt/ul>
        &lt/div>
    &lt/div>
    &lta class="btn" href="#">Button 2&lt/a>
    &lta class="btn" href="#">Button 3&lt/a>
&lt/div>
</code></pre>
    <h4 id="sinputgroup">Input group</h4>
    <div class="input-group">
        <label class="input-group-text">Text</label>
        <input type="text" class="form-control" placeholder="Search..." />
        <a class="btn" href="#">Search</a>
    </div>
    <pre><code>
&ltdiv class="input-group">
    &ltlabel class="input-group-text">Text&lt/label>
    &ltinput type="text" class="form-control" placeholder="Search..." />
    &lta class="btn" href="#">Search&lt/a>
&lt/div>
</code></pre>
    <h4 id="combinationinpg">Input group</h4>
    <div class="input-group">
        <a class="btn" href="#">Button 1</a>
        <a class="btn" href="#">Button 2</a>
        <input type="text" class="form-control" placeholder="Text..." />
        <label class="input-group-text">Text</label>
        <div class="dropdown">
            <button type="button" class="btn btn-dropdown">Dropdown</button>
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <pre><code>
&ltdiv class="input-group">
    &lta class="btn" href="#">Button 1&lt/a>
    &lta class="btn" href="#">Button 2&lt/a>
    &ltinput type="text" class="form-control" placeholder="Text..." />
    &ltlabel class="input-group-text">Text&lt/label>
    &ltdiv class="dropdown">
        &ltbutton type="button" class="btn btn-dropdown">Dropdown&lt/button>
        &ltdiv class="dropdown-menu">
            &ltul class="list-unstyled">
                &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                &ltli>&lta href="#">Link 3&lt/a>&lt/li>
            &lt/ul>
        &lt/div>
    &lt/div>
&lt/div>
</code></pre>
    <h4 id="pagination">Pagination</h4>
    <div class="input-group">
        <a class="btn" href="#">1</a>
        <a class="btn" href="#">2</a>
        <a class="btn" href="#">3</a>
        <a class="btn" href="#">4</a>
        <a class="btn" href="#">5</a>
    </div>
    <pre><code>
&ltdiv class="input-group">
    &lta class="btn" href="#">1&lt/a>
    &lta class="btn" href="#">2&lt/a>
    &lta class="btn" href="#">3&lt/a>
    &lta class="btn" href="#">4&lt/a>
    &lta class="btn" href="#">5&lt/a>
&lt/div>
</code></pre>
</div>
