

    <div class="grid g-sm-1">
        <div>
            <h3 id="btnstyle">Button style</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn">Default&lt/button>
&ltbutton type="button" class="btn bg-primary text-white">Primary&lt/button>
&ltbutton type="button" class="btn bg-secondary text-white">Secondary&lt/button>
&ltbutton type="button" class="btn bg-success text-white">Success&lt/button>
&ltbutton type="button" class="btn bg-info text-white">Info&lt/button>
&ltbutton type="button" class="btn bg-warning text-white">Warning&lt/button>
&ltbutton type="button" class="btn bg-danger text-white">Danger&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn">Default</button>
                <button type="button" class="btn bg-primary text-white">Primary</button>
                <button type="button" class="btn bg-secondary text-white">Secondary</button>
                <button type="button" class="btn bg-success text-white">Success</button>
                <button type="button" class="btn bg-info text-white">Info</button>
                <button type="button" class="btn bg-warning text-white">Warning</button>
                <button type="button" class="btn bg-danger text-white">Danger</button>
            </p>
            <h3 id="btndisabled">Buttons disabled</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn bg-primary text-white disabled">Primary&lt/button>
&ltbutton type="button" class="btn bg-secondary disabled">Secondary&lt/button>
&ltbutton type="button" class="btn bg-success disabled">Success&lt/button>
&ltbutton type="button" class="btn bg-info disabled">Info&lt/button>
&ltbutton type="button" class="btn bg-warning disabled">Warning&lt/button>
&ltbutton type="button" class="btn bg-danger disabled">Danger&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn bg-primary text-white disabled">Primary</button>
                <button type="button" class="btn bg-secondary disabled">Secondary</button>
                <button type="button" class="btn bg-success disabled">Success</button>
                <button type="button" class="btn bg-info disabled">Info</button>
                <button type="button" class="btn bg-warning disabled">Warning</button>
                <button type="button" class="btn bg-danger disabled">Danger</button>
            </p>
            <h3 id="btnoutline">Buttons outline</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn border-primary">Primary&lt/button>
&ltbutton type="button" class="btn border-secondary">Secondary&lt/button>
&ltbutton type="button" class="btn border-success">Success&lt/button>
&ltbutton type="button" class="btn border-info">Info&lt/button>
&ltbutton type="button" class="btn border-warning">Warning&lt/button>
&ltbutton type="button" class="btn border-danger">Danger&lt/button>
</pre>
            </p>
            <p>
                <button type="button" class="btn border-primary">Primary</button>
                <button type="button" class="btn border-secondary">Secondary</button>
                <button type="button" class="btn border-success">Success</button>
                <button type="button" class="btn border-info">Info</button>
                <button type="button" class="btn border-warning">Warning</button>
                <button type="button" class="btn border-danger">Danger</button>
            </p>

            <h3 id="btnsize">Buttons size</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn btn-lg">Large button&lt/button>
&ltbutton type="button" class="btn">Default button&lt/button>
&ltbutton type="button" class="btn btn-sm">Small button&lt/button>
</pre>
            </p>
            <div>
                <button type="button" class="btn btn-lg">Large button</button>
                <button type="button" class="btn">Default button</button>
                <button type="button" class="btn btn-sm">Small button</button>
            </div>
            <h3 id="btnstylecomb">Style combination</h3>
            <p>
                <pre class="bordered pd-15">
&ltbutton type="button" class="btn border-primary text-success">Button&lt/button>
&ltbutton type="button" class="btn border-success bg-info text-white">Button&lt/button>
&ltbutton type="button" class="btn border-info bg-success">Button&lt/button>
</pre>
            </p>
            <div>
                <button type="button" class="btn border-primary text-success">Button</button>
                <button type="button" class="btn border-success bg-info text-white">Button</button>
                <button type="button" class="btn border-info bg-success">Button</button>
            </div>
        </div>
    </div>