
<h3 id="cards">Default card</h3>
<div class="grid g-md-2 g-sm-1">
    <div class="card">
        <div class="card-header">
            Default card
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <pre>
&ltdiv class="card">
    &ltdiv class="card-header">
        Default card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
</pre>
</div>

<h3 id="colorheader">Color header card</h3>
<div class="grid g-md-2 g-sm-1">
    @{
        foreach (string item in MyApp.ColorVariants)
        {
            <div class="card border-@item">
                <div class="card-header bg-@item">
                    @item card
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <pre>
&ltdiv class="card border-@item">
    &ltdiv class="card-header bg-@item">
         @item card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
</pre>
        }
    }
</div>

<h3 id="onlybordercolor">Only border color card</h3>
<div class="grid g-md-2 g-sm-1">
    @{
        foreach (string item in MyApp.ColorVariants)
        {
            <div class="card border-@item">
                <div class="card-header">
                    @item card
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <pre>
&ltdiv class="card border-@item">
    &ltdiv class="card-header">
         @item card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
</pre>
        }
    }
</div>

<h3 id="cardwimage">Cards with image</h3>

<div class="grid g-md-2 g-sm-1">
    <div>
<pre>
&ltdiv class="card border-primary">
    &ltdiv class="card-header">
        &lth3>Primary card&lt/h3>
    &lt/div>
    &ltimg class="img-full" src="/img/back1-min.jpg" />
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
</pre>
    </div>
    <div class="card border-primary">
        <div class="card-header">
            <h3>Primary border card</h3>
        </div>
        <img class="img-full" src="~/img/back1-min.jpg" />
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
