<h3 id="cardex">Card example</h3>
<div class="grid g-sm-1 g-md-2">
    <div class="card">
        <div class="card-header inline-row">
            Default card
            <div class="inline-right">
                <div class="dropdown">
                    <button type="button" class="btn btn-dropdown border-hide bg-none">Dropdown</button>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <pre><code>
&ltdiv class="card">
    &ltdiv class="card-header inline-row">
        Default card
        &ltdiv class="inline-right">
            &ltdiv class="dropdown">
                &ltbutton type="button" class="btn btn-dropdown border-hide bg-none">Dropdown&lt/button>
                &ltdiv class="dropdown-menu">
                    &ltul class="list-unstyled">
                        &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                    &lt/ul>
                &lt/div>
            &lt/div>
        &lt/div>
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt/p>
    &lt/div>
&lt/div>
</code></pre>
</div>
<h3 id="cards">Default card</h3>
<div class="grid g-md-2 g-sm-1">
    <div class="card">
        <div class="card-header">
            Default card
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <pre><code>
&ltdiv class="card">
    &ltdiv class="card-header">
        Default card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
             </code></pre>
</div>

<h3 id="colorheader">Color header card</h3>
<div class="grid g-md-2 g-sm-1">
    @{
        foreach (string item in MyApp.ColorVariants)
        {
            <div class="card border-@item">
                <div class="card-header bg-@item">
                    @item card
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <pre><code>
&ltdiv class="card border-@item">
    &ltdiv class="card-header bg-@item">
         @item card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
                     </code></pre>
        }
    }
</div>

<h3 id="onlybordercolor">Only border color card</h3>
<div class="grid g-md-2 g-sm-1">
    @{
        foreach (string item in MyApp.ColorVariants)
        {
            <div class="card border-@item">
                <div class="card-header">
                    @item card
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <pre><code>
&ltdiv class="card border-@item">
    &ltdiv class="card-header">
         @item card
    &lt/div>
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
                     </code></pre>
        }
    }
</div>

<h3 id="cardwimage">Cards with image</h3>

<div class="grid g-md-2 g-sm-1">
    <div class="overflow-auto">
<pre><code>
&ltdiv class="card border-primary">
    &ltdiv class="card-header">
        &lth3>Primary card&lt/h3>
    &lt/div>
    &ltimg class="img-full" src="/img/back1-min.jpg" />
    &ltdiv class="card-body">
        &ltp>Content&lt/p>
    &lt/div>
&lt/div>
         </code></pre>
    </div>
    <div class="card border-primary">
        <div class="card-header">
            <h3>Primary border card</h3>
        </div>
        <img class="img-full" src="~/img/back1-min.jpg" />
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
