


<div class="grid g-1">
    <div>
        <h3 id="default">Default style</h3>
        <div class="dropdown">
            <button type="button" class="btn btn-dropdown">Dropdown</button>
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-dropdown" disabled>Dropdown disabled</button>
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
        <p>
            <pre><code>
&ltdiv class="dropdown">
    &ltbutton type="button" class="btn btn-dropdown">Dropdown btn&lt/button>
    &ltdiv class="dropdown-menu">
        &ltul class="list-unstyled">
            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
        &lt/ul>
    &lt/div>
&lt/div>
</code></pre>
        </p>

    </div>

    <div>
        <h3 id="bordercolor">Border color style</h3>
        @{
            foreach (string item in MyApp.ColorVariants)
            {
                <div class="dropdown">
                    <button type="button" class="btn btn-dropdown border-@item text-@item">@item</button>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>

            }
        }
        <p>
            <pre><code>
&ltdiv class="dropdown">
    &ltbutton type="button" class="btn btn-dropdown border-primary text-primary">Primary&lt/button>
    &ltdiv class="dropdown-menu">
        &ltul class="list-unstyled">
            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
        &lt/ul>
    &lt/div>
&lt/div>
</code></pre>
        </p>
    </div>

    <div>
        <h3 id="colorstyle">Сolor style</h3>
        @{
            foreach (string item in MyApp.ColorVariants)
            {
                <div class="dropdown">
                            <button type="button" class="btn btn-dropdown border-@item bg-@item text-white">@item</button>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            }
        }
        <p>
            <pre><code>
&ltdiv class="dropdown">
    &ltbutton type="button" class="btn btn-dropdown border-primary bg-primary text-white">Primary&lt/button>
    &ltdiv class="dropdown-menu">
        &ltul class="list-unstyled">
            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
        &lt/ul>
    &lt/div>
&lt/div>
</code></pre>
        </p>

    </div>
    <div>
        <h3 id="lightcolor">Light color style</h3>
        @{
            foreach (string item in MyApp.ColorVariants)
            {
                <div class="dropdown">
                            <button type="button" class="btn btn-dropdown border-@item bg-@item-light text-white">@item</button>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>

            }

        }
        <p>
            <pre><code>
&ltdiv class="dropdown">
    &ltbutton type="button" class="btn btn-dropdown border-primary bg-primary-light text-white">Primary&lt/button>
    &ltdiv class="dropdown-menu">
        &ltul class="list-unstyled">
            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
        &lt/ul>
    &lt/div>
&lt/div>
</code></pre>
        </p>

    </div>

</div>