@* List groups *@

<div class="grid g-sm-1 g-md-3">
    <div>
        <h3 id="listgroup">List group</h3>
        <ul class="list-group">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
        </ul>
    </div>
    <div>
        <h3 id="linklistgroup">List link group</h3>
        <ul class="list-group list-group-link">
            <li><a href="#">List link item 1</a></li>
            <li><a href="#">List link item 2</a></li>
            <li><a href="#">List link item 3</a></li>
            <li><a href="#">List link item 4</a></li>
        </ul>
    </div>
</div>
