
<div class="grid g-md-2 g-xsm-1">
    <div>
        <h3 id="simplematerial" class="mg-b-20">Default style</h3>
        <div class="material-group">
            <input type="email" id="email" class="input-material" required />
            <label class="text-muted" for="email">Email</label>
        </div>
        <div class="material-group">
            <input type="password" id="password" class="input-material" required />
            <label class="text-muted" for="password">Password</label>
        </div>
        <div class="material-group">
            <input type="text" id="text" class="input-material" required />
            <label class="text-muted" for="text">Name</label>
        </div>
        <div class="material-group">
            <input type="number" id="text" class="input-material" required />
            <label class="text-muted" for="number">Number</label>
        </div>
        <pre><code>&ltdiv class="material-group">
    &ltinput type="text" id="text" class="input-material" required />
    &ltlabel class="text-muted" for="text">Name&lt/label>
&lt/div>
            </code></pre>
    </div>

    <div>
        <h3 id="borderedmaterial" class="mg-b-20">Bordered style</h3>
        <div class="material-group">
            <input type="email" id="email" class="input-material bordered" required />
            <label class="text-muted" for="email">Email</label>
        </div>
        <div class="material-group">
            <input type="password" id="password" class="input-material bordered" required />
            <label class="text-muted" for="password">Password</label>
        </div>
        <div class="material-group">
            <input type="text" id="text" class="input-material bordered" required />
            <label class="text-muted" for="text">Name</label>
        </div>
        <div class="material-group">
            <input type="number" id="text" class="input-material bordered" required />
            <label class="text-muted" for="number">Number</label>
        </div>
        <pre><code>&ltdiv class="material-group">
    &ltinput type="text" id="text" class="input-material bordered" required />
    &ltlabel class="text-muted" for="text">Name&lt/label>
&lt/div>
            </code></pre>
    </div>

    <div>
        <h3 id="formcontrolmaterial" class="mg-b-20">Form control and material</h3>
        <div class="material-group">
            <input type="email" id="email" class="input-material bordered form-control" required />
            <label class="text-muted" for="email">Email</label>
        </div>
        <div class="material-group">
            <input type="password" id="password" class="input-material bordered form-control" required />
            <label class="text-muted" for="password">Password</label>
        </div>
        <div class="material-group">
            <input type="text" id="text" class="input-material bordered form-control" required />
            <label class="text-muted" for="text">Name</label>
        </div>
        <div class="material-group">
            <input type="number" id="text" class="input-material bordered form-control" required />
            <label class="text-muted" for="number">Number</label>
        </div>
        <pre><code>&ltdiv class="material-group">
    &ltinput type="text" id="text" class="input-material bordered form-control" required />
    &ltlabel class="text-muted" for="text">Name&lt/label>
&lt/div>
            </code></pre>
    </div>
</div>
