@* Navbar *@
<div class="grid g-sm-1">
    <div class="card">
        <div class="card-body">
            <h3 id="defaultnavbar">Navbar default</h3>
        </div>

        <nav class="navbar" style="z-index:1">
            <input type="checkbox" class="hidden" />
            <div class="brand">
                <label for="btnmenu" class="btn-menu">
                    <i class="line"></i>
                    <i class="line"></i>
                    <i class="line"></i>
                </label>
                <a href="/"><img src="~/img/icons/ios/87.png" class="hidden-md" />OnlyStyle</a>
            </div>
            @* Left toolbar *@
            <div class="nav-left">
                <a href="#" class="nav-link text-upper">Home</a>
                <div class="nav-dropdown">
                    <button type="button" class="nav-btn-dropdown text-upper">Menu 1</button>
                    <div class="nav-dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 2 long title link</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-dropdown">
                    <button type="button" class="nav-btn-dropdown text-upper">Menu 2</button>
                    <div class="nav-dropdown-menu">
                        <ul class="list-unstyled">
                            <li><a href="#">Link 2 long title link</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-dropdown-full">
                    <button type="button" class="nav-btn-dropdown text-upper">Full Menu</button>
                    <div class="nav-dropdown-menu">
                        <div class="grid g-sm-1 g-md-3">
                            <div>
                                <h4>Full menu</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Full menu</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Full menu</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* right toolbar *@
            <div class="nav-end">
                <div class="nav-dropdown">
                    <button type="button" class="nav-btn-dropdown text-upper">Search</button>
                    <div class="nav-dropdown-menu">
                        <input type="text" class="form-control" placeholder="Search..." />
                    </div>
                </div>
                <div class="nav-dropdown">
                    <button type="button" class="nav-btn-dropdown text-upper">Account</button>
                    <div class="nav-dropdown-menu">
                        <h4>Account</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                        <h4>Settings</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="card-body">
            <pre><code>
&ltnav class="navbar">
    &ltinput type="checkbox" id="btnmenu" />
    &ltdiv class="brand">
        &ltlabel for="btnmenu" class="btn-menu">
            &lti class="line">&lt/i>
            &lti class="line">&lt/i>
            &lti class="line">&lt/i>
        &lt/label>
        &lta href="/">&ltimg src="/img/icons/ios/87.png" class="hidden-md" />OnlyStyle&lt/a>
    &lt/div>
    &ltdiv class="nav-left">
        &lta href="#" class="nav-link text-upper">Home&lt/a>
        &ltdiv class="nav-dropdown">
            &ltbutton type="button" class="nav-btn-dropdown text-upper">Menu 1&lt/button>
            &ltdiv class="nav-dropdown-menu">
                &ltul class="list-unstyled">
                    &ltli>&lta href="#">Link 2 long title link&lt/a>&lt/li>
                    &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                &lt/ul>
            &lt/div>
        &lt/div>
        &ltdiv class="nav-dropdown">
            &ltbutton type="button" class="nav-btn-dropdown text-upper">Menu 2&lt/button>
            &ltdiv class="nav-dropdown-menu">
                &ltul class="list-unstyled">
                    &ltli>&lta href="#">Link 2 long title link&lt/a>&lt/li>
                    &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                &lt/ul>
            &lt/div>
        &lt/div>
        &ltdiv class="nav-dropdown-full">
            &ltbutton type="button" class="nav-btn-dropdown text-upper">Full Menu&lt/button>
            &ltdiv class="nav-dropdown-menu">
                &ltdiv class="grid g-sm-1 g-md-3">
                    &ltdiv>
                        &lth4>Full menu&lt/h4>
                        &ltul class="list-unstyled">
                            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                        &lt/ul>
                    &lt/div>
                    &ltdiv>
                        &lth4>Full menu&lt/h4>
                        &ltul class="list-unstyled">
                            &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                            &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                            &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                        &lt/ul>
                    &lt/div>
                &ltdiv>
                    &lth4>Full menu&lt/h4>
                    &ltul class="list-unstyled">
                        &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                    &lt/ul>
                &lt/div>
            &lt/div>
        &lt/div>
    &lt/div>
&lt/div>
    &ltdiv class="nav-end">
        &ltdiv class="nav-dropdown">
            &ltbutton type="button" class="nav-btn-dropdown text-upper">Search&lt/button>
                &ltdiv class="nav-dropdown-menu">
                    &ltinput type="text" class="form-control" placeholder="Search..." />
                 &lt/div>
            &lt/div>
            &ltdiv class="nav-dropdown">
                &ltbutton type="button" class="nav-btn-dropdown text-upper">Account&lt/button>
                &ltdiv class="nav-dropdown-menu">
                    &lth4>Account&lt/h4>
                    &ltul class="list-unstyled">
                        &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                    &lt/ul>
                    &lth4>Settings&lt/h4>
                    &ltul class="list-unstyled">
                        &ltli>&lta href="#">Link 1&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 2&lt/a>&lt/li>
                        &ltli>&lta href="#">Link 3&lt/a>&lt/li>
                    &lt/ul>
                &lt/div>
            &lt/div>
        &lt/div>
&lt/nav>
                     </code></pre>
        </div>
    </div>
</div>
