<div class="grid g-1">
    <div>
        <h3 id="defaultspinner">Default spinner</h3>
        <span class="spinner"></span>
        <pre><code>
&ltspan class="spinner">&lt/span>
</code></pre>
    </div>
    <div>
        <h3 id="coloredspinner">Colored spinner</h3>
        @{
            foreach (string item in MyApp.ColorVariants)
            {
                <span class="spinner spinner-@item"></span>
                <pre><code>
&ltspan class="spinner spinner-@item">&lt/span>
</code></pre>
            }
        }
    </div>
    <div>
        <h3 id="sizespinner">Size spinner</h3>
        <span class="spinner spinner-sm"></span>
        <span class="spinner"></span>
        <span class="spinner spinner-lg"></span>
        <pre><code>
&ltspan class="spinner spinner-sm">&lt/span>
&ltspan class="spinner">&lt/span>
&ltspan class="spinner spinner-lg">&lt/span>
</code></pre>
    </div>
    <div>
        <h3 id="buttonandspinner">Button and spinner</h3>
        <button type="button" class="btn" role="button">
            <span class="spinner spinner-sm"></span>
        </button>

        <button type="button" class="btn" role="button">
            <span class="spinner spinner-sm"></span>
            <span class="mg-l-10">Button</span>
        </button>

        <button type="button" class="btn" role="button">
            <span class="mg-r-10">Button</span>
            <span class="spinner spinner-sm"></span>
        </button>

        <pre class="mg-t-15"><code>
&ltbutton type="button" class="btn" role="button">
    &ltspan class="spinner spinner-sm">&lt/span>
&lt/button>

&ltbutton type="button" class="btn" role="button">
    &ltspan class="spinner spinner-sm">&lt/span>
    &ltspan class="mg-l-10">Button&lt/span>
&lt/button>

&ltbutton type="button" class="btn" role="button">
    &ltspan class="mg-r-10">Button&lt/span>
    &ltspan class="spinner spinner-sm">&lt/span>
&lt/button>
</code></pre>
    </div>
</div>
