<div class="grid g-1">
    <div>
        <h3 id="defaultswitch">Default switch</h3>
        <input type="checkbox" class="switch" /> <input type="checkbox" class="switch" checked />
        <pre><code>&ltinput type="checkbox" class="switch" />
&ltinput type="checkbox" class="switch" checked /></code></pre>
    </div>
    <div>
        <h3 id="largeswitch">Large switch</h3>
        <input type="checkbox" class="switch switch-lg" /> <input type="checkbox" class="switch switch-lg" checked />
        <pre><code>&ltinput type="checkbox" class="switch switch-lg" />
&ltinput type="checkbox" class="switch switch-lg" checked /></code></pre>
    </div>
</div>
