<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OnlyStyle default template</title>
    <meta name="description" content="Compact, fast framework. Without use JavaScript. Default template">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../css/onlystyle.css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-72H05FV0SL"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-72H05FV0SL');
    </script>
</head>
<body>
    <div class="container">
        <div class="grid g-1 text-center">
            <h1>Hello!</h1>
            <p>I am a clean template using OnlyStyle.</p>
        </div>
    </div>
</body>
</html>