<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OnlyStyle templates</title>
    <meta name="description" content="Compact, fast framework. Without use JavaScript. Templates pages">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../css/onlystyle.min.css'>
    <link rel='stylesheet' type='text/css' href='css/index.css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-72H05FV0SL"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-72H05FV0SL');
    </script>

</head>
<body>
    <h1 class="text-white text-center mg-25">OnlyStyle Templates</h1>
    <p class="text-white text-center">Compact, fast framework. Without use JavaScript. Templates pages</p>
    <div class="container">
        <!-- Start grid -->
        <div class="grid g-lg-4 g-sm-2 g-xsm-1">
            <!-- Start item -->
            <div class="card">
                <img class="img-responsive" src="img/default.jpg" alt="Default template page. OnlyStyle framework" />
                <div class="card-body">
                    <a href="default.html"><h4>Default template</h4></a>
                </div>
            </div>
            <!-- End item -->
            <!-- Start item -->
            <div class="card">
                <img class="img-responsive" src="img/loginpage.jpg" alt="Template login page. OnlyStyle framework" />
                <div class="card-body">
                    <a href="login.html"><h4>Login page</h4></a>
                </div>
            </div>
            <!-- End item -->
            <!-- Start item -->
            <div class="card">
                <img class="img-responsive" src="img/register.jpg" alt="Template register page. OnlyStyle framework" />
                <div class="card-body">
                    <a href="register.html"><h4>Register page</h4></a>
                </div>
            </div>
            <!-- End item -->
            <!-- Start item -->
            <div class="card">
                <img class="img-responsive" src="img/navbar.jpg" alt="Template navbar. OnlyStyle framework" />
                <div class="card-body">
                    <a href="navbar.html"><h4>Simple navbar</h4></a>
                </div>
            </div>
            <!-- End item -->
        </div>
        <!-- End grid -->
    </div>
</body>
</html>