<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OnlyStyle default template</title>
    <meta name="description" content="Compact, fast framework. Without use JavaScript. Default template">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../css/onlystyle.css'>
    <link rel='stylesheet' type='text/css' href='css/login.css'>
</head>

<body>
    <div class="login-block shadow text-white">
        <div class="card bg-info-glass pd-20 border-white">
            <h1 class="text-center">Login</h1>
            <p class="small text-center">Example login page</p>
            <form action="#" method="post">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" class="form-control" placeholder="Email">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" class="form-control" placeholder="Password">
                <div class="text-center mg-t-25">
                    <button type="submit" class="btn btn-lg border-white text-white bg-none w-100" style="flex-direction: column!important;">Login</button>
                </div>
            </form>
            <div class="mg-t-25 inline-row">
                <a href="#" class="text-white">Register</a>
                <a href="#" class="inline-right text-white">Forgot your password?</a>
            </div>
        </div>
    </div>
</body>

</html>