<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OnlyStyle default template</title>
    <meta name="description" content="Compact, fast framework. Without use JavaScript. Default template">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../css/onlystyle.css'>
</head>

<body>
    <nav class="navbar">
        <input type="checkbox" id="btnmenu">
        <div class="brand">
            <label for="btnmenu" class="btn-menu">
            <i class="line"></i>
            <i class="line"></i>
            <i class="line"></i>
        </label>
            <a href="#" class="active">OnlyStyle</a>
        </div>
        <div class="nav-left">
            <a href="#" class="nav-link text-upper active">Home</a>
            <div class="nav-dropdown">
                <button type="button" class="nav-btn-dropdown text-upper">Menu</button>
                <div class="nav-dropdown-menu">
                    <ul class="list-unstyled">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-dropdown">
                <button type="button" class="nav-btn-dropdown text-upper">Menu</button>
                <div class="nav-dropdown-menu">
                    <ul class="list-unstyled">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Right menu-->
        <div class="nav-end">
            <div class="nav-dropdown">
                <button type="button" class="nav-btn-dropdown text-upper">Right menu</button>
                <div class="nav-dropdown-menu">
                    <ul class="list-unstyled">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="grid g-1 text-center">
            <h1>Navbar example</h1>
        </div>
    </div>
</body>

</html>