<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OnlyStyle default template</title>
    <meta name="description" content="Compact, fast framework. Without use JavaScript. Default template">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../css/onlystyle.css'>
    <link rel='stylesheet' type='text/css' href='css/photo-portfolio.css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-72H05FV0SL"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-72H05FV0SL');
    </script>
</head>

<body>
    <div class="mg-15">
        <h1 class="text-white text-center mg-t-20 mg-b-20">My photo project</h1>
        <!--Menu-->
        <div class="grid g-md-3 g-xsm-1">
            <details class="mg-b-15 border-success w-100 bg-info-glass">
                <summary class="border-success text-white bg-info-glass">Categories</summary>
                <div class="mega shadow">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
            </details>
            <details class="mg-b-15 border-success w-100 bg-info-glass">
                <summary class="border-success text-white bg-info-glass">Tags</summary>
                <div class="mega shadow">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
            </details>
            <details class="mg-b-15 border-success w-100 bg-info-glass">
                <summary class="border-success text-white bg-info-glass">Summary</summary>
                <div class="mega shadow">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
            </details>
        </div>
        <!--Menu end-->
        <!--Photo grid 1-->
        <div class="grid g-lg-4 g-md-3 g-sm-2 g-xsm-2">
            <div class="img-item" style="background-image: url(https://cdn.pixabay.com/photo/2021/10/19/21/31/landscape-6724639_960_720.jpg); ">
                <span class="badge bg-primary pos-absolute mg-15 pos-right-0">NEW</span>
                <div class="pos-absolute pos-bottom-0 pos-left-0 bg-primary-glass w-100 pd-15 text-white">
                    <a href="#" class="text-white">Image 1</a>
                </div>
            </div>

            <div class="img-item" style="background-image: url(https://cdn.pixabay.com/photo/2021/11/11/16/29/tree-6786654_960_720.jpg); ">

            </div>

            <div class="img-item" style="background-image: url(https://cdn.pixabay.com/photo/2019/11/06/09/05/leaves-4605610_960_720.jpg); ">

            </div>

            <div class="img-item" style="background-image: url(https://cdn.pixabay.com/photo/2021/11/11/13/08/leopard-6786267_960_720.jpg); ">

            </div>

            <div class="img-item" style="background-image: url(https://cdn.pixabay.com/photo/2018/11/19/05/53/animal-3824672_960_720.jpg) ">

            </div>
        </div>
        <!--Photo grid 1 end-->
    </div>
</body>

</html>