
:root {
    --font-family: $font-general;
    --background-color: $background-color; /*Фон страницы*/
    --white: $white; /*Белый цвет, для всего, что использует белый цвет))*/
    --container-width: $container-width; /*Ширина фиксированной страницы*/
    --text-color: $text-color; /*Цвет текста по умолчанию, для всей страницы*/
    --text-color-muted: $text-color-muted; /**/
    --border-color: $border-color; /*Цвет для всех элементов*/
    --border-radius: $border-radius; /**/
    --border-weight: $border-weight; /**/
    --padding-general: $padding-general; /*Отступ для всех элементов*/
    --padding-10: $padding-10; /**/
    --padding-btn: $padding-btn;
    --padding-btn-lg: $padding-btn-lg;
    --padding-btn-sm: $padding-btn-sm;
    --navbar-light: $navbar-color; /**/
    --link-color: $nav-link-color; /**/
    --link-color-hover: $nav-link-color-hover; /**/
    --shadow-color: $shadow-color; /**/
    --shadow-btn-hover: $shadow-btn-hover;
    --hover-color: $hover-color; /**/
    /*Colors*/
    --primary: $primary;
    --secondary: $secondary;
    --success: $success;
    --info: $info;
    --warning: $warning;
    --danger: $danger;

}
