$font-general: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$background-color: #f7f7f7;
$color-white: #FFFFFF;
$container-width: 1200px;
$percent-color: 20%;
$text-color: #242424;
$text-color-muted: lighten($text-color, 30%);
$border-color: #ccc;
$border-radius:0;
$border-weight:1px;
$border-general: $border-weight solid $border-color;
$padding-general:15px;
$padding-10:10px;
$navbar-light: #f1f1f1;
$navbar-dark: #34241e;
$navbar-hover-dark: lighten($navbar-dark, 10%);
$a-color: #2780e3;
$a-color-hover: darken($a-color, $percent-color);
$link-color: #7e7e7e;
$link-color-dark: #E5E7FF;
$link-color-hover: #130041;
$shadow-color: #E0CEFF;
$hover-color: #E0CEFF;
$navbar-background-color-dark: rgb(50, 50, 50);


/*Colors*/
$glassy:.5;
$primary: #593196;
$secondary: #a991d4;
$success: #13b955;
$info: #009cdc;
$warning: #efa31d;
$danger: #fc3939;

/*Colors light*/

$primary-light: lighten($primary, $percent-color);
$secondary-light: lighten($secondary, $percent-color);
$success-light: lighten($success, $percent-color);
$info-light: lighten($info, $percent-color);
$warning-light: lighten($warning, $percent-color);
$danger-light: lighten($danger, $percent-color);

/*Colors dark*/
$primary-dark: darken($primary, $percent-color);
$secondary-dark: darken($secondary, $percent-color);
$success-dark: darken($success, $percent-color);
$info-dark: darken($info, $percent-color);
$warning-dark: darken($warning, $percent-color);
$danger-dark: darken($danger, $percent-color);




