@import "__variable.scss";
.btn {
    display: inline-block;
    font-weight: 400;
    color: #444;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: var(--border-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    /*color: #444;*/
    /*background-color: var(--border-color);*/
    /* box-shadow: 0 0 0 0.2rem rgba(89, 49, 150, 0.25);*/
    text-decoration: none;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.btn:focus, .btn.focus {
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(89, 49, 150, 0.25);*/
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}
/*
    background-color hover
*/
.btn.bg-primary:hover {
    background-color: $primary-dark !important;
}

.btn.bg-secondary:hover {
    background-color: $secondary-dark !important;
}

.btn.bg-success:hover {
    background-color: $success-dark !important;
}

.btn.bg-info:hover {
    background-color: $info-dark !important;
}

.btn.bg-warning:hover {
    background-color: $warning-dark !important;
}

.btn.bg-danger:hover {
    background-color: $danger-dark !important;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: var(--border-radius);
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: var(--border-radius);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}