/*
    background-color
*/
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-success {
    background-color: var(--success);
}

.bg-info {
    background-color: var(--info);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-danger {
    background-color: var(--danger);
}


/*
    border-color
*/
.border-primary {
    border-color: var(--primary);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-success {
    border-color: var(--success);
}

.border-info {
    border-color: var(--info);
}

.border-warning {
    border-color: var(--warning);
}

.border-danger {
    border-color: var(--danger);
}
