@import "__variable.scss";
*, ::after, ::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    font-family: $font-general;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.5;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #BD93BD;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B543B5;
}

::-webkit-scrollbar-track {
    background: #EBEBEB;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}


.container {
    background-color: $color-white;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    border-left: $border-general;
    border-right: $border-general;
    border-bottom: $border-general;
    padding-bottom: 80px;
}

.container-full {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width:none;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: $padding-general;
    margin-bottom: $padding-10;
}

a {
    color: $a-color;
    text-decoration: none;
    &:hover{
        color: $a-color-hover

    }
}


b, strong {
    font-weight: bolder;
}

small, .small {
    font-size: small;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    overflow: auto;
    font-size: 0.875em;
    background-color: $background-color;
    max-height:400px;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: 0.875em;
    /*color: #000000;*/
    word-wrap: break-word;
    background-color: $background-color;
    padding:5px;
}

label {
    display: inline-block;
}
[role=button] {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

iframe {
    border: 0;
}
summary {
    display: list-item;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: $padding-general;
}

footer, .footer {
    display: block;
    padding: $padding-general;
    background-color: $color-white;
    border-top: $border-general;
    padding-bottom: 80px;
}