.pos-relative {
    position: relative !important;
}

.pos-absolute {
    position: absolute !important;
    z-index: 200;
}

.pos-fixed {
    position: fixed !important;
    z-index: 200;
}

.pos-top-0 {
    top: 0 !important;
}

.pos-top-25 {
    top: 25% !important;
}

.pos-top-50 {
    top: 50% !important;
}

.pos-top-75 {
    top: 75% !important;
}

.pos-top-100 {
    top: 100% !important;
}

.pos-left-0 {
    left: 0 !important;
}

.pos-left-50 {
    left: 50% !important;
}

.pos-left-100 {
    left: 100% !important;
}

.pos-right-0 {
    right: 0 !important;
}

.pos-right-50 {
    right: 50% !important;
}

.pos-right-100 {
    right: 100% !important;
}

.pos-bottom-0 {
    bottom: 0 !important;
}

.pos-bottom-50 {
    bottom: 50% !important;
}

.pos-bottom-100 {
    bottom: 100% !important;
}
