

.pos-relative {
    position: relative !important;
}

.pos-absolute {
    position: absolute !important;
}

.pos-fixed {
    position: fixed !important;
    z-index: 200;
}
.pos-float-right{
    float:right;
}

.pos-sticky {
    position: sticky;
}

@for $i from 0 through 4{
    .pos-top-#{$i * 25} {
        top: $i * 25 !important;
    }
    .pos-right-#{$i * 25} {
        right: $i * 25 !important;
    }
    .pos-bottom-#{$i * 25} {
        bottom: $i * 25 !important;
    }
    .pos-left-#{$i * 25} {
        left: $i * 25 !important;
    }
}


