

.text-upper{
    text-transform:uppercase!important;
}
.text-center {
    text-align: center!important;
    & * {
        text-align: center!important;
    }
}
.text-right {
    text-align: right !important;
    & * {
        text-align: right !important;
    }
}
.text-small{
    font-size:small!important;
}
.text-bold{
    font-weight:bold!important;
}
.text-lower{
    text-transform:lowercase!important;
}
.text-italic {
    font-style: italic!important;
}
.text-underline{
    text-decoration:underline!important;
    
}
.text-shadow {
    text-shadow: $text-shadow;
}