@import "__variable.scss";
.text-upper{
    text-transform:uppercase;
}

.text-center {
    text-align: center;

    & * {
        text-align: center;
    }
}
.text-small{
    font-size:small;
}

.text-bold{
    font-weight:bold;
}
