
<div class="grid g-sm-2 g-md-6 g-lg-8 fade-in">
    <div class="pd-15 border-rounded text-center bg-danger-glass">Very small size.</div>
    <div class="pd-15 border-rounded text-center bg-info-glass col-md-span-3 col-lg-span-3">Responsive grid for any device and task. <a asp-controller="Content" asp-action="Grid">View Grid</a></div>
    <div class="pd-15 border-rounded text-center bg-primary-glass row-md-span-1 row-lg-span-2">Rapid prototype creation</div>
    <div class="pd-15 border-rounded text-center bg-secondary-glass">Clean code</div>
    <div class="pd-15 border-rounded text-center bg-success-glass">Many ready-made components</div>
    <div class="pd-15 border-rounded text-center bg-warning-glass">Reducing server load</div>
    <div class="pd-15 border-rounded text-center bg-info-glass">Easy customization</div>
    <div class="pd-15 border-rounded text-center bg-success-glass col-sm-span-1 col-md-span-2 col-lg-span-2">Compact, fast framework. Without use JavaScript.</div>
    <div class="pd-15 border-rounded text-center bg-secondary-glass">Fine-tuning component styles</div>
    <div class="pd-15 border-rounded text-center bg-warning-glass">Mobile first</div>
    <div class="pd-15 border-rounded text-center bg-primary-glass col-sm-span-1 col-md-span-2">Very large combination of styles</div>
</div>
@* Code grid *@
<div class="grid g-1">
    <details class="w-100">
        <summary>Code</summary>
        <div class="pd-15 overflow-auto">
            <pre><code>
&ltdiv class="grid g-sm-2 g-md-6 g-lg-8">
    &ltdiv>&lt/div>
    &ltdiv class="col-md-span-3 col-lg-span-3">&lt/div>
    &ltdiv class="row-sm-span-1 row-lg-span-2">&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv class="col-sm-span-1 col-md-span-2 col-lg-span-2">&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv class="col-sm-span-1 col-md-span-2">&lt/div>
&lt/div>
                     </code></pre>
        </div>
    </details>
</div>
@* Fast start *@
<h3 id="faststart">Fast start</h3>
<ol>
    <li><a asp-action="DownloadLatestVersion" asp-controller="Home">Download </a>latest version OnlyStyle.css</li>
    <li>Create HTML file</li>
    <li>Add OnlyStyle file <code>&ltlink rel='stylesheet' type='text/css' href='css/onlystyle.min.css'></code></li>
</ol>
<details class="w-100 mg-t-15">
    <summary>Example HTML</summary>
    <div class="pd-15 overflow-auto">
        <pre><code>
&lt!DOCTYPE html>
&lthtml lang="en">
&lthead>
        &ltmeta charset='utf-8'>
        &ltmeta http-equiv='X-UA-Compatible' content='IE=edge'>
        &lttitle>Page Title&lt/title>
        &ltmeta name='viewport' content='width=device-width, initial-scale=1'>
        &ltlink rel='stylesheet' type='text/css' href='css/onlystyle.min.css'>
&lt/head>
&ltbody>
    &ltdiv class="container">
        &ltdiv class="grid g-1 text-center">
            &lth1>Hello!&lt/h1>
            &ltp>I am a clean template using OnlyStyle.&lt/p>
        &lt/div>
    &lt/div>
&lt/body>
&lt/html>
            </code></pre>
    </div>
</details>