
<div class="grid g-sm-2 g-md-6 g-lg-8 fade-in">
    <div class="item-empty bg-danger-glass">Very small size. <span class="badge bg-danger rounded">&lt 15Kb</span></div>
    <div class="item-empty bg-info-glass col-md-span-3 col-lg-span-3">Responsive grid for any device and task. <a asp-controller="Content" asp-action="Grid">View Grid</a></div>
    <div class="item-empty bg-primary-glass row-md-span-1 row-lg-span-2">Rapid prototype creation</div>
    <div class="item-empty bg-secondary-glass">Clean code</div>
    <div class="item-empty bg-success-glass"> </div>
    <div class="item-empty bg-warning-glass"> </div>
    <div class="item-empty bg-info-glass"> </div>
    <div class="item-empty bg-success-glass col-sm-span-1 col-md-span-2 col-lg-span-2">Compact, fast framework. Without use JavaScript.</div>
    <div class="item-empty bg-secondary-glass">Fine-tuning component styles</div>
    <div class="item-empty bg-warning-glass"> </div>
    <div class="item-empty bg-primary-glass col-sm-span-1 col-md-span-2">Very large combination of styles</div>
</div>
<div class="grid g-1">
    <details class="w-100">
        <summary>Code</summary>
        <div class="pd-15">
            <pre>
&ltdiv class="grid g-sm-2 g-md-6 g-lg-8">
    &ltdiv>&lt/div>
    &ltdiv class="col-md-span-3 col-lg-span-3">&lt/div>
    &ltdiv class="row-sm-span-1 row-lg-span-2">&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv class="col-sm-span-1 col-md-span-2 col-lg-span-2">&lt/div>
    &ltdiv>&lt/div>
    &ltdiv>&lt/div>
    &ltdiv class="col-sm-span-1 col-md-span-2">&lt/div>
&lt/div>
</pre>

        </div>
    </details>
</div>







@*<div class="grid g-sm-1">
        <div>
            <p>Data attribute only <a href="#" data-tooltip="I’m the tooltip text">Tooltip</a></p>
            <p><code>.tooltip</code> <a href="#" class="tooltip" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
            <p><code>.tooltip-top</code> <a href="#" class="tooltip-top" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
            <p><code>.tooltip-right</code> <a href="#" class="tooltip-right" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
            <p><code>.tooltip-bottom</code> <a href="#" class="tooltip-bottom" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
            <p><a href="#" class="tooltip-left" data-tooltip="I’m the tooltip text.">Tooltip</a> <code>.tooltip-left</code></p>
        </div>
    </div>*@


