

.grid {
    display: grid;
    grid-gap: $padding-general;
    padding: $padding-general;
}


.grid-inline {
    display: grid;
    grid-gap: $padding-general;
    padding: $padding-general;
    overflow: auto;
    grid-auto-flow: column;
}

.grid-small-gap {
    grid-gap: $padding-general - 10;
}

.grid-big-gap {
    grid-gap: $padding-general + 10;
}

/*default. No responsive*/
.g-1 {
    grid-template-columns: 1fr;
}

.col-span-1 {
    grid-column: span 1;
}

.row-span-1 {
    grid-row: span 1;
}

@for $i from 2 through 12 {
    .g-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }

    .col-span-#{$i} {
        grid-column: span $i;
    }

    .row-span-#{$i} {
        grid-row: span $i;
    }
}

/* x small*/
@media (max-width: $bp-sm - 1) {
    .g-xsm-1 {
        grid-template-columns: 1fr;
    }

    .col-xsm-span-1 {
        grid-column: span 1;
    }

    .row-xsm-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-xsm-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-xsm-span-#{$i} {
            grid-column: span $i;
        }

        .row-xsm-span-#{$i} {
            grid-row: span $i;
        }
    }
}

/*small*/
@media (min-width: $bp-sm) {
    .g-sm-1 {
        grid-template-columns: 1fr;
    }

    .col-sm-span-1 {
        grid-column: span 1;
    }

    .row-sm-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-sm-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-sm-span-#{$i} {
            grid-column: span $i;
        }

        .row-sm-span-#{$i} {
            grid-row: span $i;
        }
    }
}

@media (min-width: $bp-md) {
    .g-md-1 {
        grid-template-columns: 1fr;
    }

    .col-md-span-1 {
        grid-column: span 1;
    }

    .row-md-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-md-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-md-span-#{$i} {
            grid-column: span $i;
        }

        .row-md-span-#{$i} {
            grid-row: span $i;
        }
    }
}

@media (min-width: $bp-lg) {
    .g-lg-1 {
        grid-template-columns: 1fr;
    }

    .col-lg-span-1 {
        grid-column: span 1;
    }

    .row-lg-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-lg-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-lg-span-#{$i} {
            grid-column: span $i;
        }

        .row-lg-span-#{$i} {
            grid-row: span $i;
        }
    }
}

@media (min-width: $bp-xl) {
    .g-xl-1 {
        grid-template-columns: 1fr;
    }

    .col-xl-span-1 {
        grid-column: span 1;
    }

    .row-xl-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-xl-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-xl-span-#{$i} {
            grid-column: span $i;
        }

        .row-xl-span-#{$i} {
            grid-row: span $i;
        }
    }
}

@media (min-width: $bp-xxl) {
    .g-xxl-1 {
        grid-template-columns: 1fr;
    }

    .col-xxl-span-1 {
        grid-column: span 1;
    }

    .row-xxl-span-1 {
        grid-row: span 1;
    }

    @for $i from 2 through 12 {
        .g-xxl-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        .col-xxl-span-#{$i} {
            grid-column: span $i;
        }

        .row-xxl-span-#{$i} {
            grid-row: span $i;
        }
    }
}

.hidden {
    display: none;
}

/*@media (min-width: $bp-sm) and (max-width: $bp-md) */
@media (max-width: $bp-md) {
    .hidden-sm {
        display: none;
    }
}

@media (max-width: $bp-lg) {
    .hidden-md {
        display: none;
    }
}

@media (max-width: $bp-xl) {
    .hidden-lg {
        display: none;
    }
}

@media (max-width: $bp-xxl) {
    .hidden-xl {
        display: none;
    }
}

@media (min-width: $bp-xxl) {
    .hidden-xxl {
        display: none;
    }
}
