

.badge {
    display: inline-block;
    white-space: nowrap;
    vertical-align: baseline;
   /* border-width: 0;*/
    color: white;
    border-radius: 0;
    font-size: .7rem;
    background-color: #ccc;
    text-align: center;
    padding: 3px 10px;
    font-weight: bold;
    cursor: default;
}
