

.badge {
    display: inline-block;
    white-space: nowrap;
    vertical-align: baseline;
    color: $text-color;
    border-radius: 0;
    font-size: .7rem;
    background-color: $background-color;
    text-align: center;
    padding: 3px 10px;
    font-weight: bold;
    cursor: default;
}
