

.breadcrumb {
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    padding:0;
    margin:0;
    align-items: center;
}

.breadcrumb > li {
    margin-right: var(--padding-general);
}

.breadcrumb > li::after {
    margin-left: var(--padding-general);
    content: '/';
}

.breadcrumb > li:last-child::after {
    margin-left: 0;
    content: '';
}