

.card {
    //position: relative;
    display: block;
    background-color: $white;
    word-wrap: break-word;
    border: $border-general;
    border-radius: $border-radius;
    /*overflow: auto;*/
}

.card-header {
    background-color: $background-color;
    border-bottom: $border-general;
    padding: $padding-general;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.card-body {
    padding: $padding-general;
}
