

.close {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 15px;
    border: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    color: red;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:focus {
        outline: solid 0 transparent;
        box-shadow: 0 0 0 1px rgba(255, 0, 0, .5)
    }

    &:hover {
        background: rgba(255, 0, 0, .1)
    }

    &:before, &:after {
        position: absolute;
        top: 15%;
        left: calc(50% - .0625em);
        width: .125em;
        height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after {
        transform: rotate(-45deg);
    }
}
