


details {
    display:block;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: $border-radius;
    overflow: hidden;

    
}

details:hover {
    /*box-shadow: $shadow-btn-hover;
    z-index:2;*/

}

summary {
    padding: $padding-general;
    display: block;
    background-color: $white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    border: $border-general;
    border-radius: $border-radius;
}

summary.hide-marker {
    padding: $padding-general;
}

details {
    summary {
        list-style: none;

        &:focus {
            outline: none;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent $text-color;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

summary.hide-marker:before {
    border:none;
    display:none;
    border-style:none;
    border-width:0;
}

@each $name, $value in $colors{
    summary.text-#{$name}:before, {
        border-color: transparent transparent transparent $value;
    }
}

details[open] {
    border: $border-general;
}
/*details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}*/

/*@keyframes slideDown {
    from {
        opacity:0;
        height: 0;
    }

    to {
        opacity:1;
        height: auto;
    }
}*/

details[open] > summary {
    border: 0;
    font-weight: bold;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
details:hover > summary {
    font-weight: bold;
}


details[open] > summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display: none;
}

details>.mega{
    position:absolute;
    z-index:200;
    background-color:$white;
    padding:$padding-general;
    margin-top:5px;
    border:$border-general;
    border-radius:$border-radius;
    overflow:auto;
    @include form-control-shadow;
}

// x small
@media (max-width: $bp-sm - 1) {
    details > .mega {
        left: 0;
        right: 0;
        margin-left: $padding-general;
        margin-right: $padding-general;
    }
}