/*!
*   OnlyStyle Framework Alert
*   Site: onlystyle.site
*/

.alert {
    display: block;
    position: relative;
    padding: $padding-general;
    border-radius: $border-radius;
    margin-bottom: $padding-general;
}
