

.btn {
    /*display: inline-block;*/
    display:inline-flex;
    position:relative;
    align-items:center;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $white;
    border: $border-general;
    padding: $padding-btn;
    font-size: 0.875rem;
    line-height: 1.6;
    border-radius: $border-radius;
    //transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: .3s;
}

.btn:hover,
a.btn:hover,
.btn.active{
    text-decoration: none;
    z-index: 2;
    box-shadow: $shadow-btn-hover;
    filter:invert(.08);
    //color: $text-color;
}

.btn:focus, .btn.focus {
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(89, 49, 150, 0.25);*/
    box-shadow: $shadow-btn-hover;
}
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn,
/*!
*   OnlyStyle Framework Buttons
*   Site: onlystyle.site
*/
.btn-group-lg > .form-control {
    padding: $padding-btn-lg;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: $border-radius;
}

.btn-sm, .btn-group-sm > .btn,
.btn-group-sm > .form-control {
    padding: $padding-btn-sm;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: $border-radius;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}