/*!
*   OnlyStyle Framework Card
*   Site: onlystyle.site
*/

.card {
    //position: relative;
    display: flex;
    flex-direction:column;
    background-color: $white;
    word-wrap: break-word;
    border: $border-general;
    border-radius: $border-radius;
    /*overflow: auto;*/
}

.card:first-child {
    border-top-left-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
}

.card-header {
    background-color: $background-color;
    border-bottom: $border-general;
    padding: $padding-general;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.card-footer {
    background-color: $background-color;
    border-top: $border-general;
    padding: $padding-general;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    margin-block-start: auto;
}

.card-body {
    padding: $padding-general;
}

.card  .list-group  li {
    border-left: none;
    border-right: none;
}
.card .list-group:first-child li {
    border-top:none;
}