.item-empty {
    padding: 15px;
    background-color: #e3e2e2;
    border-radius: var(--border-radius);
    text-align: center;
}
/*Содержание страницы*/
@media (min-width: 1400px) {
    #contents-list {
        position: fixed;
        right: 0;
        width: 250px;
        z-index: 200;
    }
}
