.item-empty {
    padding: 15px;
    background-color: #e3e2e2;
    border-radius: 5px;
    text-align: center;
    color:black!important;
}
.item-color {
    display: inline-block;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    padding-top: 35px;
}
#pagenavigator {
    display: block;
    position: sticky;
    top: 15px;
}
    #pagenavigator ul {
        list-style: none;
        padding-inline-start: 15px;
    }
    #pagenavigator ul li {
        margin-bottom:10px;

    }

        /*#pagenavigator ul li:before {
            content: "- ";
            color: #ccc;
        }*/

#pagenavigator a {
    text-decoration: none;
}

    #pagenavigator a:hover {
        text-decoration: underline;
    }

/*Содержание страницы*/
/*@media (min-width: 1400px) {
    #pagenavigator {
        position: fixed;
        right: 0;
        width: 250px;
        z-index: 200;
        margin:15px;
        border:1px solid #ccc
    }
}*/
