
.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-rounded{
    border-radius:50%;
}

.img-thumb {
    border: $border-general;
    max-width: 100%;
    padding: 5px;
    background-color: $white;
    height: auto;
} 